/**------------------Imports-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap');
/*font-family: 'Roboto Slab', serif;

/*-----------------------reusable styles---------------------*/
.d-f-row {
    display: flex;
}
.d-f-col {
    display: flex;
    flex-direction: column;
}
.jc-space-b {
    justify-content: space-between;
}
.jc-space-e {
    justify-content: space-evenly;
}
/*-----------------Main Setup-------------------*/
.main-container {
    max-width: 60%;
    height: 100vh;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: rgb(32, 92, 148);
}
.footer {
    width: 100%;
    margin-top: auto;
    align-self: center;
    text-align: center;
    color: rgb(21, 85, 146);
    font-size: 1.10rem;
    font-weight: 700;
}
/*----------------- border style-------------*/
.underline {
    height: 8px;
    width: 100%;
    background-color:rgb(40, 144, 241);
    display: flex;
    justify-content: space-between;
}
.underline-style {
    display: flex;
}
.yellow {
    background-color: rgb(250, 246, 24);
    height: 100%;
    width: 2rem;

}
.orange {
    background-color: orangered;
    height: 100%;
    width: 1.5rem;
}
.foot {
    margin-top: auto;
}
/*----------------- delivery components-------------*/
.delivery-container {
    border: solid rgb(40, 144, 241) 2px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 20px auto;
    color:rgb(8, 31, 53)
}
.input-field {
    max-width: 3rem;
    text-align: center;
    border-radius: 5px;
    border:rgb(32, 92, 148) solid 2px
    
}
.output-text {
    margin: 10px 10px;
    color: rgb(36, 113, 185);
}
.delivery-header {
    margin: 5px auto;
}
.component-h4 {
    margin: 5px auto;
}
.pallet-input {
    margin-left: 0;
}
.label-input {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color:rgb(8, 31, 53)
}
h4, h2, label{
    margin: 0 auto;
    color: rgb(40, 73, 105);
}
.employeeInput {
    flex-wrap: wrap;
}

/*----------------------Delivery input style---------------------*/
@media  screen and (min-width:600px) {
    .main-container {
        max-width: 400px;
    }
}
@media  screen and (max-width:380px) {
    .input-field {
        margin: 5px auto;
    }
}